#chatting-div{
    /*border: black groove;*/
    display: flex;
    width: 50vw;
    justify-content: center;
    align-self: center;
}

#messages-div, #chatting-users-div{
    /*display: inline-flex;*/
    border: black groove;
    float: left;
    overflow-y: auto;
    height: 50vh;
    max-height: 50vh;
    /*justify-content: center;*/
    /*vertical-align: middle;*/
}

#messages{
    width:35vw;
    flex: 0 0 auto;

}

#chatting-users-div{
     width: 10vw;
}
