#contain-article{
    border: black groove;
    display: inline-block;
    width: 100vh;
    justify-content: center;
}

#contain-article-write{
    display: flex;
    justify-content: center;
}

#input-content{
    resize: none;
}

#show-comments{
    border: black groove;
    display: inline-block;
    width: 100vh;
}

#write-comment{
    border: black solid 2px;
    /*display: block;*/
    display: inline-block;
    width: 100vh;
    justify-content: center;
    /*float: right;*/
}
#write-label{
    display: block;
    justify-content: center;
    /*width:50vh;*/
}

#comment-writer{
    width: 30%;
    text-align: left;
}


#article-title{
    float:left;
    text-align: left;
    margin-left: 2vw;
    margin-top: 1vh
}

#article-created{
    float:right;
    text-align: right;
    margin-right: 2vw;
    margin-top: 1vh;
}

#article-writer{
    float: left;
    display: block;
    text-align: left;
    margin-left: 2vw;
    margin-top: 1vh;
}

#comment-contents, #comment-writer, .input-label{
    display: block;
    float: left;
    text-align: left;
    /*margin-left: 2vw;*/
    /*margin-top: 1vh*/
}
.contain-comment{
    margin: 1vh;
    border-bottom: black dashed;
}
.selected-comment{
    margin: 1vh;
    border-bottom: black dashed;
    background-color: gray;
}

#comment-created-at{
    float:right;
    display: block;
}

#article-content{
    text-align: left;
    margin-left: 2vw;
    margin-top: 1vh;
    margin-bottom: 3vh
}

.comment-edit-button{
    /*width:30%;*/
    float: right;
    display: block;
}

.input-label{
    visibility: hidden;
}

.article-button{
    float:right
}

#result{
    margin: 0 auto;
}

#contain-table{
    margin: 0 auto;
    display: block;
    width: 50vw;
    justify-content: center;
}

#wrap-freeboard-content{
     margin: 0 auto;
}