#contain-answer{
    pointer-events:none;
}

#quiz{
    border: black solid;
}

#incorrect-sheet-table{
    text-align: center;
}

body{
    margin: 0 0 120px 0;
    /*margin-bottom: 120px;*/
}

#footer-content{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.nav-menu{
    float:left;
    margin: 1em 3em;
    display: block;
    text-decoration: none;
    color: white;
}
.nav-menu-right{
    float:right;
    margin: 1em 3em;
    display: block;
    text-decoration: none;
    color: white;
}
header{
    white-space: normal;
    overflow: scroll;
    margin-top: 0;
    height: 4em;
    background-color: black;
}

#content{
    display: flex;
    text-align: center;
    flex-flow: column nowrap ;
    /*margin: 0 auto;*/
    justify-content: center;
}

#incorrect-sheet-table{
    margin : auto;
}

.score-board{
    float:left;
}

.inner-score-board{
    float:left;
}

#score-board-wrapper{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#contain-table{
    border: black groove;
    display: inline-block;
    justify-content: center;
    min-height: 50vh;
}
