{% extends "layout.html" %}
{% block title %}오답 모드{% endblock %}
{% block content %}
    <div id="contain-answer">
        <img src="" alt="image" id="quiz">
    </div>
    <form>
        <label for="answer">정답 : </label>
        <input type="text" id="answer">
        <input id="submitBtn" type="button" value="제출">
        <input id="showAnswerBtn" type="button" value="정답">
        <input class="getNextBtn" id="getNextImageBtn" type="button" value="다음">
    </form>
    <div id="score">
        정답 개수 :
        <div id="correct">
            0
        </div>
        오답 개수 :
        <div id="incorrect">
            0
        </div>
    </div>
    <div id="show-answer"></div>
    <div id="incorrect-sheet">
        오답 노트 <button id="toggleBtn"> 접기 </button>
        <button id="incorrect-quizBtn"> 오답퀴즈 </button>
    <table id="incorrect-sheet-table">
        <tr></tr> <tr></tr>
    </table>
    </div>
{% endblock %}

