<a class="nav-menu" href="/">메인</a>
        <a class="nav-menu" href="/quiz">무한모드</a>
        <a class="nav-menu" href="/newquiz">제한모드</a>
        <a class="nav-menu" href="/fb">자유게시판</a>
        <a class="nav-menu" href="/ws">채팅</a>
        {% if not request.session.get('user_email') %}
        <a class="nav-menu-right" href="/login">로그인</a>{% else %}
        <a class="nav-menu-right" href="/scoreboard">{{request.session.get('user_name')}}님, 환영합니다!</a>
        <a class="nav-menu-right" href="/logout">로그아웃</a>
        {% endif %}
