{% extends "layout.html" %}
{% block title %}제한 모드{% endblock %}
{% block content %}
{% include 'quiz_block.html' %}
    <div id="refresher-container"></div>
    <form onsubmit="return false;">
        <label for="answer">정답 : </label>
        <input type="text" id="answer">
        <input id="submitBtn" type="submit" value="제출">
        <input class="getNextBtn" id="getNextImageBtn" type="hidden" value="다음">
    </form>
{% include 'answer_block.html' %}
    <div id="incorrect-sheet">
        오답 노트 <button id="toggleBtn"> 접기 </button>
        <button id="incorrectQuizBtn"> 오답퀴즈 </button>
        <button id="incorrectQuizNextBtn">다음</button>
    <table id="incorrect-sheet-table">
        <tr></tr> <tr></tr>
    </table>
    </div>
{% endblock %}

