{% extends "layout.html" %}
{% block title %} 점수판 {% endblock %}
{% block content %}
<div id="score-board-wrapper">
<div class="score-board">
    <div> 히라가나 </div>
    {% for key, value in hiragana_score.items() %}
        {% if loop.index%20 == 1 %}
            <div class="inner-score-board">
        {% endif %}
        <div>
            {{key}} : {{value}}점
        </div>
        {% if loop.index%20 == 0 %}
            </div>
        {% endif %}

    {% endfor %}
    </div>
</div>
<div class="score-board">
    <div> 카타카나 </div>
    {% for key, value  in katakana_score.items() %}
        {% if loop.index%20 == 1 %}
            <div class="inner-score-board">
        {% endif %}
        <div>
            {{key}} : {{value}}점
        </div>
        {% if loop.index%20 == 0 %}
            </div>
        {% endif %}

    {% endfor %}
</div>
{% endblock %}
