{% extends "layout.html" %}
{% block title %} 글쓰기 {% endblock %}
{% block content %}
    <div id="contain-article-write">
        <label>
            <input id="input-title" type="text" style="width:100%" name="title" placeholder="제목을 입력해주세요.">
            <br><br><br>
            <textarea id="input-content" cols="100" rows="30" name="contents" placeholder="내용을 입력해주세요."></textarea>
            <br>
            <input type="button" value="저장" onclick="articleFunction.sendArticle()">
        </label>
    </div>
{% endblock %}